body {
    margin: 0 auto;
    background-image: url(taustakuva.jpg);
    color: #222222;
    max-width: 1920px;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 0%;
}

#inputField {
    width: 50%;
    height: 28px;
    font-size: 20px;
    vertical-align: middle;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border: none;
}


#addToDo {
    height: 45px;
    width: 45px;
    border: 2px solid black;
    vertical-align: middle;
    font-size: 35px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: 10px;
    cursor: pointer;
}

.to-dos {
    margin-top: 40px; 
}

ul {
    list-style-type: none;
    display: inline-block;
    width: 50%;
    margin-right: 55px;
    padding-left: 0%;
    margin-top: none;
    margin-bottom: none;
}

img {
    width: 25px;
    vertical-align: middle;
}

    li, button .buttons {
    display:flex;
    justify-content: space-between;
}

.task {
    margin-bottom: 10px;
    margin-left: 32,5px;
    font-size: 20px;
    background-color: lightgray;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
}


.buttons {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0%;
    cursor: pointer;
}

 select {
    font-size: 20px;
    margin-right: 55px;
    background-color: transparent;
    border: none;
    outline: none;  
}

option {
    background-color: lightgray;
    font-size: 15px;
}







